/* improve the readability -------------------------------------------------- */
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin: 0;
}
.wrapper {
  min-width: 600px;
  padding: 50px 5%;
}
article {
  display: block;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-size: 2em;
}
article .left {
  float: left;
  width: 50%;
}
article .right {
  float: right;
  width: 40%;
  min-height: 20px;
  padding: 20px;
  border: #ccc solid 1px;
  margin-top: 1em;
}
article p {
  font-size: 14px;
  line-height: 1.6;
}
article pre {
  background-color: #333;
  border: #ddd solid 2px;
  color: #fff;
  font: 14px/1.5 monospace;
  padding: 10px;
  overflow-x: auto;
}
article dt {
  font-weight: bold;
  font-size: 1.5em;
}
article dd {
  margin-bottom: 1em;
}
article dd table {
  font-size: 75%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
}
article dd table th, article dd table td {
  border: #ccc dotted 1px;
  padding: 5px;
}
article dd table th {
  text-align: left;
}
/* snippet ------------------------------------------------------------------ */
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
.clearfix{
  *zoom:1;/*ie6,7*/
}
/* inline-block */
.dib-wrap {
  font-size:0;/* 所有浏览器 */
  *word-spacing:-1px;/* IE6、7 */
}
.dib-wrap .dib{
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align:top;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .dib-wrap{
    letter-spacing:-5px;/* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.dib {
  display: inline-block;
  *display:inline;
  *zoom:1;
}
/* no pic technique */
.arrow-top {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 10px;
  border-color: #fff #fff #000 #fff;
}
.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 10px;
  border-color: #fff #fff #fff #000;
}
.arrow-bottom {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 10px;
  border-color: #000 #fff #fff #fff;
}
.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 10px;
  border-color: #fff #000 #fff #fff;
}

.arrow-normal {
  display: inline-block;
  width: 7px;
  height: 4px;
  _height: 5px;
  margin: 0 0 0 5px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 12px;
  line-height: 12px;
  line-height: 12px\0;
}
.arrow-normal em {
  display: block;
  font-style: normal;
  font-family: "SimSun";
  margin: -7px 0 0 -2px;
  _margin: -21px 0 0 -2px;
}
.arrow-turn em {
  margin: 0 0 0 -2px;
  _margin: -13px 0 0 -2px;
}

.arrow, .arrow s {
  position: absolute;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: dashed 4px;
}
.arrow-lthin, .arrow-lthin s {
  border-color: transparent #666 transparent transparent;
  border-right-style: solid;
}
.arrow-rthin, .arrow-rthin s {
  border-color: transparent transparent transparent #666;
  border-left-style: solid;
}
.arrow-lthin s {
  border-right-color: #fff;
  right: -6px;
  top: -4px;
}
.arrow-rthin s {
  border-left-color: #FAFAFA;
  left: -6px;
  top: -4px;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 36px;
  color: #cbcbcb;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.bubble {
  position: relative;
  display: inline-block;
  width: 78px;
  padding: 5px;
  word-break: break-all;
  border: 1px solid #fec3a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}
.bubble b, .bubble i {
  position: absolute;
  left: 37px;
  width: 18px;
  height: 7px;
  font: 16px/21px Simsun;
  overflow: hidden;
}
.bubble b {
  top: -8px;
  color: #fec3a8;
}
.bubble i {
  top: -7px;
  color: #fff;
}
.bubble em {
  font-style: normal;
}
/* dropdown */
.dropdown {
  position: relative;
  width: 110px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -55px;
}
.dd-selected {
  position: relative;
  z-index: 10;
  height: 26px;
  line-height: 26px;
  background-color: #414a58;
  border: #252a31 solid 1px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1) inset;
  color: #efefef;
  font-size: 12px;
  font-weight: bold;
  text-indent: 10px;
}
.dd-selected:after {
  position: absolute;
  top: 12px;
  right: 10px;
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 4px;
  border-color: #fff transparent transparent transparent;
}
.dd-menu {
  background-color: #262b31;
  border: #1e2127 solid 1px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-top: -1px;
}
.dd-menu label {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #acb3bf;
  font-size: 12px;
  text-indent: 10px;
}
.dd-menu label:hover {
  background-color: #4e85c5;
  color: #fff;
}
.dd-menu, input[type="radio"] {
  display: none;
}
.dropdown:hover .dd-menu {
  display: block;
}
/* Opacity */
.opacity {
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}